.procedure ol.steps {
  counter-reset: steps-counter 0;
  margin-top: 1rem;
  list-style: none;
  padding-left: 0;
}

.procedure ol.steps li {
  counter-increment: steps-counter;
  position: relative;
  padding-left: 2.75rem;
  margin-bottom: 1.5rem;
}

.procedure ol.steps li:before {
  content: counter(steps-counter);
  position: absolute;
  left: 0;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #e6e6e6;
  height: 2rem;
  width: 2rem;
  color: #000;
  text-align: center;
  font-weight: 400;
  line-height: 1.875rem;
}

.procedure ol.steps li h2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}
