body main > .section > .content{
    max-width: 100%;
}
body main{
    max-width: var(--grid-container-width);
    margin: 0 auto;
}

body main > div {
    display: block;
    margin: 2.5rem 0 0;
}

body main {
    display: flex;
    justify-content: space-between;
}

body main .main-content {
    width: 70%;
    max-width: 70%;
    
}

body main .toc {
    display: none;
    width: 24.67%;
    max-width: 24.67%;
    flex: 1;
    position: sticky;
    top: 5rem;
}
