/*
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 *
 *
 */

/* main > div {
  width: 100%!important;
  margin: 0 auto;
  max-width: 1260px;
  padding-left: 70px!important;
  padding-right: 70px!important;
} */

:root {
  --static-color-white: #fff;
  --static-color-light-green: #0f996d;
  --static-color-light-gray: #fafafa;
  --static-color-dark-gray: #505050;
  --static-color-gray-700: #333333;
  --static-color-gray-200: #f5f5f5;

  --static-color-heading-border: #dddddd;

  --table-color-border: #bdbdbd;
  --table-header-color-background: #ededed;
  --internal-banner-color-background: var(--static-color-light-green);
  --internal-banner-color-font: var(--static-color-dark-gray);
  --footer-color-background: var(--static-color-light-gray);
  --footer-color-font: var(--static-color-dark-gray);
  --on-this-page-background: #eaeaea;

  --grid-container-width-help-article: 100%;
}

body * {
  padding:  0;
  margin: 0;
}

body ol>li,body p,body td,body th,body ul>li {
  font-size: 18px;
  margin-bottom: 18px
}

body a:hover{
  text-decoration: none;
}

body h1 {
  font-size: 36px;
  margin-bottom: 9px
}

body h2 {
  font-size: 28px;
  margin-bottom: 7px
}

body.helpxnext-article main > .section > .content {
  max-width: 100%;
}
body.helpxnext-article main {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

body.helpxnext-article main > div {
  margin: 2.5rem 0 0;
}

body.helpxnext-article main {
  display: flex;
  justify-content: space-between;
}

body.helpxnext-article main > div.main-content {
  display: block;
  width: 70%;
  max-width: 70%;
}

body.helpxnext-article main > div.toc {
  display: block;
  width: 24.67%;
  max-width: 24.67%;
  flex: 1;
  position: sticky;
  top: 5rem;
}
